body{
 background-color: aqua;
 background-image: url(13.jpg);
 background-size: cover;
 background-position: center;
 background-size: 1px;
} 
h1{
    font-size: xx-large; font-family: serif;
    font-style: italic;
    color: burlywood;

}
