body{
 background-color: gainsboro;
 background-image: url(darc.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 
 
} 
h1{
    font-size: xx-large; font-family: serif;
    font-style: italic;
    color: #090909;

}
